<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>br.com.cantinasjuquinha.controller.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cadResponsavel</servlet-name>
        <jsp-file>/funcionario/cadastraResponsavel.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>br.com.cantinasjuquinha.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Redirect</servlet-name>
        <servlet-class>br.com.cantinasjuquinha.servlet.Redirect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listaResponsavel</servlet-name>
        <jsp-file>/funcionario/listaResponsavel.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadResponsavel</servlet-name>
        <url-pattern>/responsavelCad</url-pattern>
        <url-pattern>/cadResponsavel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Redirect</servlet-name>
        <url-pattern>/Redirect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listaResponsavel</servlet-name>
        <url-pattern>/listaResponsavel</url-pattern>
        <url-pattern>/responsavelLista</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/erro404.jsp</location>
    </error-page>
</web-app>
